<!DOCTYPE html>
<html>
    <head>
        <title>My Second View Lab!!</title>
    </head>
    <body>
      <h1>Today</h1>
      <% require 'date' %>
      <% today = DateTime.now.strftime("%A, %B %d, %Y") %>
        <p>The date is <%=today%>." </p>
    </body>
</html>
